extends /layout/default
block meta
	link(rel="stylesheet" type="text/css" href="/module/quill.snow.css")
	link(rel="stylesheet" href="/css/layout/blog.css")
	link(rel="stylesheet" href="/css/layout/page-direction.css")
	link(rel="stylesheet" href="/css/layout/entry.css")
	link(rel="stylesheet" href="/css/layout/profile.css")
	link(rel="stylesheet" href="/css/layout/latest-contents.css")
	link(rel="stylesheet" href="/css/layout/category-list.css")
	link(rel="stylesheet" href="/css/layout/tweet-timeline.css")
	script(src="/scripts/comments.js" type="text/javascript" charset="utf-8")
	link(rel="stylesheet" href="/css/layout/comments.css")
	if twitterCard
		meta(name="twitter:card" content=`${twitterCard.card}`)
		meta(name="twitter:site" content=`${twitterCard.site}`)
		meta(property="og:url" content=`${twitterCard.url}`)
		meta(property="og:title" content=`${twitterCard.title}`)
		meta(property="og:description" content=`${twitterCard.description}`)
		meta(property="og:image" content=`${twitterCard.imageURL}`)

block main
	div.blog
		- for (let data of contents)
			include /components/blog/entry
	include /components/blog/page-direction
	//- include /layout/comments

block sub
	include /components/parts/profile
	include /components/list/latest-contents
	include /components/list/category
	include /components/twitter/timeline
